users:
 - default

disable_root: 1
ssh_pwauth:   1


mount_default_fields: [~, ~, 'auto', 'defaults,nofail,x-systemd.requires=cloud-init.service', '0', '2']
resize_rootfs_tmp: /dev
ssh_deletekeys:   1
ssh_genkeytypes:  ['rsa', 'ecdsa' ]
syslog_fix_perms: ~
disable_vmware_customization: false

# datasource: [ OVF, VMware, none ]

#jq package must be installed prior to running the init.d shell scripts
#rhcaps.machineshop.nsa.ic.gov is the GTM that should be handling load balancing also registering based on location of the systems
#ste-atp contains the all trusted partners certs and must be installed before mcafee, sear, and UAM

write_files:
- path: /tmp/setup.sh
  permissions: '0755'
  owner: root:root
  content: |
    #!/bin/bash
    chage -M 99999 cloud-user
    chage -M 99999 root
    chage -d {{ ansible_date_time.date }} root
    chage -d {{ ansible_date_time.date }} cloud-user
    {{ aws_bootstrap }}
    # Temp logic to disable legacy ste-stn repos in FASHIONFILM activation key
    subscription-manager repos --disable=Default_Organization_STE_metrics*
    subscription-manager repos --disable=Default_Organization_STE_bigfix*
    dnf update -y
    mcafee reset
    nessus-tool reset
    nessus-tool auto
    mcafee auto
    sear auto
    
runcmd:
  - [ bash, /tmp/setup.sh ]
  - [ rm, -rf, /tmp/setup.sh ]

cloud_init_modules:
 - disk_setup
 - migrator
 - bootcmd
 - write-files
 - growpart
 - resizefs
 - set_hostname
 - update_hostname
 - update_etc_hosts
 - rsyslog
 - users-groups
 - ssh

cloud_config_modules:
 - mounts
 - locale
 - set-passwords
 - rh_subscription
 - yum-add-repo
 - package-update-upgrade-install
 - timezone
 - puppet
 - chef
 - salt-minion
 - mcollective
 - disable-ec2-metadata
 - runcmd

cloud_final_modules:
 - rightscale_userdata
 - scripts-per-once
 - scripts-per-boot
 - scripts-per-instance
 - scripts-user
 - ssh-authkey-fingerprints
 - keys-to-console
 - phone-home
 - final-message
 - power-state-change

system_info:
  default_user:
    name: cloud-user
    lock_passwd: false
    gecos: Cloud User
    groups: [wheel, adm, systemd-journal]
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    shell: /bin/bash
  distro: rhel
  paths:
    cloud_dir: /var/lib/cloud
    templates_dir: /etc/cloud/templates
  ssh_svcname: sshd

# vim:syntax=yaml
