# Copy this file into /etc/cloud/cloud.cfg

users:
 - default

disable_root: 0
ssh_pwauth:   1


mount_default_fields: [~, ~, 'auto', 'defaults,nofail,x-systemd.requires=cloud-init.service', '0', '2']
resize_rootfs_tmp: /dev
ssh_deletekeys:   1
ssh_genkeytypes:  ['rsa', 'ecdsa' ]
syslog_fix_perms: ~
disable_vmware_customization: false

# datasource: [ OVF, VMware, none ]

#jq package must be installed prior to running the init.d shell scripts

write_files:
- path: /tmp/setup.sh
  permissions: '0755'
  owner: root:root
  content: |
    #!/bin/bash
    chage -d $(date +%F) cloud-user
    chage -d $(date +%F) root
    chage -M 180 cloud-user
    chage -M 99999 root

    # Reset Unique Machine ID 
    rm -f /etc/machine-id 
    systemd-machine-id-setup

    # Register VM to RedHat Satellite Server
    {{ aws_bootstrap }}

    # Update All Packages
    dnf update -y
    
runcmd:
  - [ sudo, bash, /tmp/setup.sh ]
  - [ rm, -rf, /tmp/setup.sh ]

cloud_init_modules:
 - disk_setup
 - migrator
 - bootcmd
 - write-files
 - growpart
 - resizefs
 - set_hostname
 - update_hostname
 - update_etc_hosts
 - rsyslog
 - users-groups
 - ssh

cloud_config_modules:
 - mounts
 - locale
 - set-passwords
 - rh_subscription
 - yum-add-repo
 - package-update-upgrade-install
 - timezone
 - puppet
 - chef
 - salt-minion
 - mcollective
 - disable-ec2-metadata
 - runcmd

cloud_final_modules:
 - rightscale_userdata
 - scripts-per-once
 - scripts-per-boot
 - scripts-per-instance
 - scripts-user
 - ssh-authkey-fingerprints
 - keys-to-console
 - phone-home
 - final-message
 - power-state-change

system_info:
  default_user:
    name: cloud-user
    lock_passwd: false
    gecos: Cloud User
    groups: [wheel, adm, systemd-journal]
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    shell: /bin/bash
  distro: rhel
  paths:
    cloud_dir: /var/lib/cloud
    templates_dir: /etc/cloud/templates
  ssh_svcname: sshd

# vim:syntax=yaml
