---
# tasks file for export_ec2_to_ova

- name: Install python
  ansible.builtin.package:
    name: python3-pip
    state: latest

- name: Install boto3 and botocore (AWS SDK)
  ansible.builtin.pip:
    name:
      - boto3
      - botocore
    executable: pip3

- name: Export EC2 Instance to OVA
  ec2_export_ova:
    region: "{{ aws_region }}"
    instance_id: "{{ dummy_ec2_instance_id }}"
    target_environment: vmware
    container_format: ova
    disk_image_format: vmdk
    s3_bucket: "{{ s3_bucket_name }}" 
    s3_prefix: "Exports/ova/"
  become: false
  register: ova_export_filename

- name: Add 'ova_full_pathname' variable to localhost inventory to verify later
  ansible.builtin.add_host:
    name: localhost
    groups: all
    ova_full_pathname: "Exports/ova/{{ ova_export_filename.export_task_id }}.ova"

- name: Add 'ova_full_pathname' variable to ova_instance group inventory
  ansible.builtin.add_host:
    name: "{{ ova_instance_public_ip }}"
    groups: ova_instances
    ova_full_pathname: "Exports/ova/{{ ova_export_filename.export_task_id }}.ova"

- name: Display exported OVA image filename
  ansible.builtin.debug:
    msg: "OVA Filename: {{ ova_export_filename.export_task_id }}.ova"
