---
# tasks file for upload_files_to_s3

- name: Reveal Exported Variables from Lambda Function
  ansible.builtin.debug:
    msg: "{{ item }}"
  loop:
    - "{{ file_name }}"
    - "{{ s3_bucket_name }}"
    - "{{ aws_region }}"
    - "{{ aws_access_key }}"
    - "{{ aws_secret_key }}"
    - "{{ aws_session_token }}"
      
- name: Starting Upload task from RHSAT02 to S3:Imports/
  ansible.builtin.debug:
    msg: "Copying up {{ rhsat02_source_dir }}/{{ file_name }} from RHSAT02 to the {{ s3_bucket_name }} S3 Bucket at Imports/{{ file_name }}"

- name: Upload VMDK file to S3 at Imports Directory
  amazon.aws.s3_object:
    bucket: "{{ s3_bucket_name }}"
    src: "{{ rhsat02_source_dir }}/{{ file_name }}"
    object: "Imports/{{ file_name }}"
    mode: put
    region: "{{ aws_region }}"
    access_key: "{{ aws_access_key }}"
    secret_key: "{{ aws_secret_key }}"
    session_token: "{{ aws_session_token }}"
    validate_certs: false
  register: s3_upload_results

- name: Debug
  ansible.builtin.debug:
    var: s3_upload_results
