---

- hosts: execution_host
  become: false
  environment:
    AWS_ACCESS_KEY_ID: "{{ aws_access_key }}"
    AWS_SECRET_ACCESS_KEY: "{{ aws_secret_key }}"
    AWS_SESSION_TOKEN: "{{ aws_session_token }}"
  tasks:

  - name: debug aap variable
    ansible.builtin.debug:
      var: s3_key

  - name: debug aap variable
    ansible.builtin.debug:
      var: aws_access_key

  - name: debug aap variable
    ansible.builtin.debug:
      var: aws_secret_key

  - name: debug aap variable
    ansible.builtin.debug:
      var: aws_session_token

  - name: Install pip and awscli
    ansible.builtin.package:
      name: 
        - python3-pip
        - awscli
      state: latest
    become: true

  - name: Install boto3 and botocore (AWS SDK)
    ansible.builtin.pip:
      name:
       - boto3
       - botocore
      executable: pip3
  
  - name: test AWS lambda exported credentials
    ansible.builtin.command:
      cmd: aws sts get-caller-identity
    register: credential_test

  - name: Reveal credential_test results
    ansible.builtin.debug:
      var: credential_test.stdout_lines

  - name: Import image
    amazon.aws.ec2_import_image:
      state: present
      task_name: "ova-import-image"
      access_key: "{{ aws_access_key }}"
      secret_key: "{{ aws_secret_key }}"
      disk_containers:
        - format: ova
          user_bucket:
            s3_bucket: "akalohi-aws-bucket-imports"
            s3_key: "{{ s3_key }}"
    register: ami_name

  - name: Reveal ami name
    ansible.builtin.debug:
      var: ami_name.image_id

  - name: Reveal ami name
    ansible.builtin.debug:
      var: ami_name.import_task_id
